.arrow {
    position: absolute;
    top: 50%;
    width: clamp(20px, calc(2.27vw + 12.7px), 40px);
    height: clamp(20px, calc(2.27vw + 12.7px), 40px);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 1);
    }
    &:active {
        background-color: rgba(20, 200, 200, 1);
        rotate: 180deg;
    }
}
.arrow.left {
    transform: rotate(90deg);
    left: -20px;
}
.arrow.right {
    transform: rotate(-90deg);
    right: -20px;
}
