.cars {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    button {
        float: left;
        width: 100px;
        margin-top: 1rem;
        border-radius: 1rem;
        /* padding: 0 1rem; */
    }
}
.car-videos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.car {
    width: 45%;
    position: relative;
    border-radius: 1rem;
    &:hover {
        .car-info {
            opacity: 0;
        }
    }

}
.car video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.car-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 1;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (width > 744px) {
    .car {
        width: 30%;
        height: 200px;
    }
}
@media (width > 1280px) {
    .car {
        width: 22%;
        height: 400px;
    }
}