.contact {
    text-align: left;
    p {
        margin-left: 1.5rem;
    }
    .social-media {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}
.footer-content {
    background-color: #aaa;
    margin-top: 2rem;
    height: 300px;
    width: 100%;
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (width > 744px){
    .footer-content {
        height: 400px;
    }
}