.hero-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.hero-image {
    width: 100%;
    height: 245px;
    background-image: url('../assets/hero-image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 2px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    h1 {
        font-size: 2rem;
        text-align: left;
        text-transform: capitalize;
        line-height: 2.8rem;;
    }
    p {
        text-align: left;
        line-height: 2rem;
    }
    .hero-button {
        width: 125px;
        height: 40px;
        border-radius: 16px;
        line-height: 20px;
    }
    small {
        display: block;
        font-style: italic;
       line-height: 2rem;
       text-align: left;
    }
}

@media (width > 744px) {
    .hero-section {
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 66px;
    }
    .hero-image {
        flex: 1;
        height: 300px;
        border-radius: 16px;
    }
    .hero-text {
        flex: 1;
        .hero-button {
        width: 160px;
        height: 50px;
        line-height: 20px; 
        font-size: 1rem;
    }
    }
}
@media (width > 1280px) {
    .hero-image {
        height: 400px;
        border-radius: 20px;
    }
    .hero-text {
        small {
            font-size: 1rem;
        }
    
    
    }
}