.others-content {
    margin-top: 2rem;
    font-size: 1.2em;
    line-height: 2rem;
    q {
        text-wrap: wrap;
        font-style: italic;
    }
    p {
        text-align: left;
    }
    .others-container {
        margin-block: 5rem;
        height: 250px;
        width: 100%;
        position: relative;
    }
    .others-pictures {
        overflow-x: auto;
        display: flex;
        gap: 1rem;
        height: 100%; 
        scrollbar-width: none;
    }
        .picture {
            flex-shrink: 0;
            width: 150px;
            height: 100%;
            transition: all 0.5s ease;
            background-color: lightgrey;
            background-size: cover;
            background-position: center;
            border-radius: 1rem;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .pic-info {
                position: absolute;
                bottom: 0;
                /* opacity: 0; */
                background-color: rgba(0,0,0, 0.5);
                width: 100%;
                p {
                    text-align: center;
                }
                button {
                    padding: 5px 8px;
                    border-radius: 8px;
                }
            }
        }
        .picture.active {
            /* flex: 0 0 230px; */
            width: 230px;
            background-color: darkgrey;
        }
    }


/* .picture:hover .pic-info {
        opacity: 1;
    } */

@media (width > 744px) {
    .others-content {
        .others-container {
            height: 300px;
            .others-pictures {
                .picture {
                    flex: 0 0 200px;
                }
                .picture.active {
                    flex: 0 0 300px;
                }
            }
        }
    }
}